* {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

.topnav {
    background-color: darkgreen;
    overflow: hidden;
    border-bottom: solid 3px black;
}

.aa {
    position: fixed;
    top: 0;
    right: 0px;
}

.topnav a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

main {
    padding-top: 50px;
}

.form {
    background-color: antiquewhite;
    border-top: solid 3px black;
}

.info {
    border: solid 2px black;
    border-radius: 5px;
    display: inline-block;
    margin: 10px;
}

#email {
    margin: 10px;
}

footer {
    background-color: darkgreen;
    color: white;
    padding: 5px;
    margin: 5px auto;
}